.meal__details h6 {
  text-align: center;
}

.meal__details ol {
  margin-top: 50px;
}

.meal__details ol li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: #f8f7f5;
  padding: 10px;
  border-radius: 10px;
}

.meal__details ol li h6 {
  font-size: 13px;
  line-height: 17px;
  padding-left: 6px;
}

.meal__details ol li img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 500px) {
  .meal__details ol li {
    flex-direction: column;
  }
}
